<div class="container">
  <div class="title-box text-center">
      <h1><span></span>自己的工具箱</h1>
      <div class="title-border title-border-left"></div>
      <div class="title-border title-border-right"></div>
  </div>
  <h2 class="text-center">人人都該有自己的工具包</h2>
   <div class="container">
     <div class="row tools">
       <div class="col-4"> <button class="border-0"> <img src="https://image.freepik.com/free-vector/illustration-magnifying-glass-icon_53876-8774.jpg" alt=""> </button></div>
       <div class="col-8">
         <div class="container">
           <div class="row">
             <ng-container *ngFor="let record of result.records">
                <div class="col-12" > <span>車站名稱 {{record['The MRT Stations in New Taipei City']}}</span>  </div>

             </ng-container>
             
           </div>
         </div>
       </div>
       <div class=""></div>
     </div>
   </div>
</div>